.dropdown-container {
    position: relative; 
    display: inline-block; 
  }
  
  .dropdown-button {
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
    padding: 10px 40px;
    border: #666c89 solid 1px;
    border-radius: 5px;
   background-color: white;
   box-shadow: #666c89;
  }
  
  .dropdown-content {
    position: absolute;
cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
  }
  